html {
 	text-align: center;
	font-family: Futura;
	/*background-color: #D2CECC;*/
	background-color: #BFB0A9;
}


header img {
	height: 20em;
	margin: auto;
	opacity: .8;
	position: static;
	border-radius: 5px;
	width: 100%;
}

header h1 {
	font-size: 5em;
	opacity: 5;
	position: relative;
	margin-top: -2em;
	margin-bottom: .85em;
}

nav {
	display: inline;
}

nav a {
	padding: .25em 1em .25em 1em;
	text-decoration: none;
	background-color: #A15F48;
	margin: 5px;
	color: white;
	border-radius: 3px;
}

nav a:hover {
	background-color: #4F5460;
}

section {
	height: 15em;
	display: inline;
	margin: auto;
	border-radius: 3px;
}

section  p {
	font-size: 3.5em;
	width: 48%;
	margin: auto;
	padding-top: 1.5em;
}

section > div {
	width: 50%;
	text-align: center;
	height: 20em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: black;
	color: white;
	opacity: .8;
}

section img {
	height: 100%;
	width: 100%;
}

.right {
	float: right;
}

.left {
	float: left;
}

 footer {
 	height: 150px;
 	background-color: #4855A1;
 	width: 100%;
 	margin: auto;
 	border-radius: 3px;
 	clear: both;
  position: fixed;
  bottom: 0;
 }

 footer img {
 	height: 50px;
 	width: 50px;
 	margin-top: 1.5em;
 	border-radius: 50%;
 	background-color: black;
 	margin-right: 1em;
 	 }

 footer img:hover {
 	background-color: #484848;
 }