article {
	display: inline-block;
	margin-top:1em;
}

article img {
	height: 15em;
	width: 15em;
	margin-bottom: 1em;
}

.post {
	width: 65%;
	display: table;
	float:left;
	margin-top:2em;
	margin-left:5%;
	margin-bottom: 2em;
	background-color: #D3D3D3;
	border-radius: 3px;
	padding-bottom: 1em;
}

aside {
	margin-top:3em;
	float:left;
	width:30%;
}

.blog-nav {
	display:table;
	background-color: #4855A1;
	margin:auto;
	margin-bottom: .5em;
}

.sideface {
	margin:auto;
	border-radius:5%;
	margin-top: 3em;
}

section p {
	font-size: .8em;
	width: 95%;
}

h2 {
	font-size: 3.25em;
	margin:0 auto;
}

h3 {
	font-size: 1.5em;
	margin: 0 auto;
}

article > div {
	width: 33%;
	float:left;
	margin:auto;
}

.postpic {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.pad {
	width: 320px;
	height: 50px;
	margin-top:1em;
	margin-bottom:-1em;
}

ul {
	list-style-position: inside;
	margin-bottom: 0px;
}

li {
	font-size: .75em;
}

pre {
	background-color: black;
	color: white;
	padding: .5em;
	margin: 1em auto 1em auto;
	display: table;
	text-align: left;
}